<div class="border rounded-sm flex flex-col" id="<%= dom_id item %>">
  <%= turbo_stream_from item %>
  <header class="border flex justify-between">
      <span class="rounded-full py-1 px-3 bg-red-600 text-white"><%= item.score %></span>
      <p class="py-1 px-3">
        <% "job" if item.job? %>
        <%= item.host unless item.host.nil? %>
      </p>
  </header>
  <article class="border flex flex-col">
    <p class="py-1 px-3 flex-grow">
      <% if item.url.nil? %>
        <%= link_to item.title, item_path(item.hn_id) %>
      <% else %>
        <%= link_to item.title, item.url, { target: '_blank', rel: 'noopener' } %>
      <% end %>
    </p>
    <p class="py-1 px-3">
      <em><%= item.time.strftime('%c') %></em>
    </p>
  </article>
  <% unless item.job? %>
    <footer class="border flex justify-between">
      <p class="py-1 px-3">
        <%= link_to pluralize(item.descendants, 'comment'), item_path(item.hn_id) %>
      </p>
      <p class="py-1 px-3">
        <a href="/user/<%= item.by %>"><%= item.by %></a>
      </p>
    </footer>
  <% end %>
</div>